td {
  vertical-align: top;
}

.info_container {
  background-color: #FFFFFF;
  margin: auto;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px #CFD8DC;
}

.lm-content {
  background-color: #ECEFF1;
}

.video_container {
  padding-left: 1%;
  padding-bottom: 1%;
}

.video_iframe {
  display: block;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px #90A4AE;
}

.video_title {
  text-align: center;
  padding-top: 10px;
}